
body{
    background-color: #fcfcfc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    transition: background-color 0.3s, color 0.3s;
    }

    /* Light mode styles */
body.light-theme {
    background-color: #ffffff;
    color: #000000;
}
  
  #mainNavigation a {
      font-family: 'Cabin', sans-serif;
      font-size:14px;
      text-transform:uppercase;
      letter-spacing:2px;
      text-shadow:1px 1px 2px rgba(0,0,0,0.4)
    }
    .nav-item a{
      color:#dfdfdf;
    }
    .nav-item a:hover {
      color:#4400ff
    }
    .nav-item{
      min-width:12vw;
    }
    #mainNavigation {
      position:fixed;
      top:0;
      left:0;
      width:100%;
      z-index:123;
      padding-bottom:120px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }
    #navbarNavDropdown.collapsing .navbar-nav,
    #navbarNavDropdown.show .navbar-nav{
      background:#037582;
      padding:12px;
    }
    .glitch-wrapper {
      width: 80%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #222;
   }
   
   .glitch {
      position: relative;
      font-size: 30px;
      font-weight: 200;
      line-height: 1.2;
      color: #fff;
      letter-spacing: 5px;
      z-index: 1;
   }
   
   .glitch:before {
      content: attr(data-glitch);
      position: absolute;
      top: 0;
      left: -2px;
      width: 100%;
      color: #fff;
      background-color: #222;
      overflow: hidden;
      clip: rect(0, 900px, 0, 0);
      animation: noise-before 3s infinite linear alternate-reverse;
   }
   
   .glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(33, 33, 33, 0);
  }
  
  .glitch {
    position: relative;
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
  }
  
  .glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    width: 100%;
    color: #fff;
    background-color: rgba(33, 33, 33, 0);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
  }
  
  .glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    width: 100%;
    color: #fff;
    background-color: rgba(33, 33, 33, 0);
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
  }
  
  @keyframes noise-before {
    0% {
       clip: rect(61px, 9999px, 52px, 0);
    }
  
    5% {
       clip: rect(33px, 9999px, 144px, 0);
    }
  
    10% {
       clip: rect(121px, 9999px, 115px, 0);
    }
  
    15% {
       clip: rect(144px, 9999px, 162px, 0);
    }
  
    20% {
       clip: rect(62px, 9999px, 180px, 0);
    }
  
    25% {
       clip: rect(34px, 9999px, 42px, 0);
    }
  
    30% {
       clip: rect(147px, 9999px, 179px, 0);
    }
  
    35% {
       clip: rect(99px, 9999px, 63px, 0);
    }
  
    40% {
       clip: rect(188px, 9999px, 122px, 0);
    }
  
    45% {
       clip: rect(154px, 9999px, 14px, 0);
    }
  
    50% {
       clip: rect(63px, 9999px, 37px, 0);
    }
  
    55% {
       clip: rect(161px, 9999px, 147px, 0);
    }
  
    60% {
       clip: rect(109px, 9999px, 175px, 0);
    }
  
    65% {
       clip: rect(157px, 9999px, 88px, 0);
    }
  
    70% {
       clip: rect(173px, 9999px, 131px, 0);
    }
  
    75% {
       clip: rect(62px, 9999px, 70px, 0);
    }
  
    80% {
       clip: rect(24px, 9999px, 153px, 0);
    }
  
    85% {
       clip: rect(138px, 9999px, 40px, 0);
    }
  
    90% {
       clip: rect(79px, 9999px, 136px, 0);
    }
  
    95% {
       clip: rect(25px, 9999px, 34px, 0);
    }
  
    100% {
       clip: rect(173px, 9999px, 166px, 0);
    }
  }
  
  @keyframes noise-after {
    0% {
       clip: rect(26px, 9999px, 33px, 0);
    }
  
    5% {
       clip: rect(140px, 9999px, 198px, 0);
    }
  
    10% {
       clip: rect(184px, 9999px, 89px, 0);
    }
  
    15% {
       clip: rect(121px, 9999px, 6px, 0);
    }
  
    20% {
       clip: rect(181px, 9999px, 99px, 0);
    }
  
    25% {
       clip: rect(154px, 9999px, 133px, 0);
    }
  
    30% {
       clip: rect(134px, 9999px, 169px, 0);
    }
  
    35% {
       clip: rect(26px, 9999px, 187px, 0);
    }
  
    40% {
       clip: rect(147px, 9999px, 137px, 0);
    }
  
    45% {
       clip: rect(31px, 9999px, 52px, 0);
    }
  
    50% {
       clip: rect(191px, 9999px, 109px, 0);
    }
  
    55% {
       clip: rect(74px, 9999px, 54px, 0);
    }
  
    60% {
       clip: rect(145px, 9999px, 75px, 0);
    }
  
    65% {
       clip: rect(153px, 9999px, 198px, 0);
    }
  
    70% {
       clip: rect(99px, 9999px, 136px, 0);
    }
  
    75% {
       clip: rect(118px, 9999px, 192px, 0);
    }
  
    80% {
       clip: rect(1px, 9999px, 83px, 0);
    }
  
    85% {
       clip: rect(145px, 9999px, 98px, 0);
    }
  
    90% {
       clip: rect(121px, 9999px, 154px, 0);
    }
  
    95% {
       clip: rect(156px, 9999px, 44px, 0);
    }
  
    100% {
       clip: rect(67px, 9999px, 122px, 0);
    }
  }
  
  #nav{
    height: 160px;
  }
  
  #img{
    background-image: url("blob.svg");
    width: 100px;
  }
  
  #about{
    height: 800px;
  }
  
  span{
    color: yellow;
  }
  
  #service{
     height: 800px;
  }
  
  .carousel{
     width: 300px;
     border: solid white;
     border-radius: 10px 10px 10px 10px;
  }
  
  .bn31 {
     background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
     border-radius: 40px;
     box-sizing: border-box;
     color: #ffffff;
     display: block;
     font-size: 20px;
     padding: 4px;
     position: relative;
     text-decoration: none;
     width: 6em;
     z-index: 2;
   }
   
   .bn31:hover {
     color: #fff;
     cursor:pointer;
   }
   
   .bn31 .bn31span {
     align-items: center;
     background: #0e0e10;
     border-radius: 40px;
     display: flex;
     justify-content: center;
     height: 100%;
     transition: background 0.5s ease;
     width: 100%;
   }
   
   .bn31:hover .bn31span {
     background: transparent;
   }
  
   #title{
     border-radius: 10px 10px 10px 10px;
     border: solid black;
   }
  
   .blob{
     animation: blob 9s ease-in-out infinite;
   }
  
   @keyframes blob{
     0%, 100% {
        border-radius:24% 76% 35% 65% / 27% 36% 64% 73%
      }
      25% {
        border-radius:82% 24% 33% 67% / 20% 55% 45% 42%
      }
  
      50% {
        border-radius:20% 54% 12% 98% / 70% 15% 23% 42%
      }
  
      75% {
        border-radius:10% 24% 42% 28% / 79% 45% 63% 22%
      }
   }
  
   svg {
     width: 114px;
     height: 114px;
     margin: 1em;
   }
   
   .bg {
     fill: none;
     stroke-width: 10px;
     stroke: #1A2C34;
   }
   
   [class^="meter-"] {
     fill: none;
     stroke-width: 10px;
     stroke-linecap: round;
     transform: rotate(275deg);
     transform-origin: 50% 50%;
     
   }
   
   .meter-1 {
     stroke-dasharray: 360;
     stroke-dashoffset: 0;
     stroke: rgb(255, 72, 0);
     animation: progress-1 2s ease-out;
   }
   .meter-2 {
     stroke: rgb(0, 195, 255);
     stroke-dasharray: 360;
     stroke-dashoffset: 50;
     animation: progress-2 1.75s ease-out;
   }
   .meter-3 {
     stroke: magenta;
     stroke-dasharray: 360;
     stroke-dashoffset: 100;
     animation: progress-3 1.5s ease-out;
   }
   .meter-4 {
     stroke: yellow;
     stroke-dasharray: 360;
     stroke-dashoffset: 175;
     animation: progress-4 1.25s ease-out;
   }
   
   @keyframes progress-1 {
       from {
           stroke-dashoffset: 360;
       }
       to {
           stroke-dashoffset: 0;
       }
   }
   
   @keyframes progress-2 {
     from {
       stroke-dashoffset: 360;
     }
     to {
       stroke-dashoffset: 50;
     }
   }
   
   @keyframes progress-3 {
     from {
       stroke-dashoffset: 360;
     }
     to {
       stroke-dashoffset: 100;
     }
   }
  
   @keyframes progress-4 {
     from {
       stroke-dashoffset: 360;
     }
     to {
       stroke-dashoffset: 175;
     }
   }
  
   #skills{
     height: 800px;
   }
  
   
  