   :root {
      --background-image-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
      --background-image-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23e0e0fd' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23c1c2fa' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23a2a3f8' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%238484f5' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%236565f3' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%234647f0' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%232728EE' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
      --background-light: #252525;
      --background-dark: #ffffff;
      --background-light: #252525;
      --text-dark: #ffffff;
      --text-light: #252525;
      --button-dark: #037582;
      --button-light: #00a950;
   }

   @font-face {
      font-family: cal;
      src: url("california.ttf");
   }

   @font-face {
      font-family: Mont;
      src: url("montlight.otf");
   }

   @font-face {
      font-family: MontH;
      src: url("montheavy.otf");
   }

   @font-face {
      font-family: neon;
      src: url("Neon\ Energy\ x.otf");
   }

   body{
      background-color: var(--background-light);
      background-image: var(--background-image-dark);
      background-attachment: fixed;
      background-size: cover;
      transition: background-color 0.3s, color 0.3s;
      }
      .glitch {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    @media (max-width: 768px) {
        /* Media query for screens with a maximum width of 768px (typical mobile phone size) */
    
        .glitch {
            font-size: 2rem; /* Reduce font size for mobile */
        }
    
        h2 {
            font-size: 1.5rem; /* Reduce font size for mobile */
        }
        
        /* Additional styling for small screens, if needed */
    }

   .dark-mode {
      background-color: #F0F0FF !important;
      background-image: var(--background-image-light) !important;
      background-attachment: fixed;
      background-size: cover;
      transition: background-color 0.3s, color 0.3s;
   }

   .dark-mode span {
      color:var(--text-light);
   }
   

   .dark-mode p {
      color:black;
   }
   
   .dark-mode h1 {
      color:var(--text-light);
   }
   

   .dark-mode h2 {
      color:var(--text-light);
   }
   
   .dark-mode h3 {
      color:var(--text-light);
   }
   
   .dark-mode h4 {
      color:var(--text-light);
   
   }.dark-mode h5 {
      color:var(--text-light);
   
   }.dark-mode h6 {
      color:var(--text-light);
   }

 #mainNavigation a {
     font-family: 'Cabin', sans-serif;
     font-size:14px;
     text-transform:uppercase;
     letter-spacing:2px;
     text-shadow:1px 1px 2px rgba(0,0,0,0.4)
   }
   .nav-item a{
     color:#dfdfdf;
   }
   .nav-item a:hover {
     color:#4400ff
   }
   .nav-item{
     min-width:12vw;
   }
   #mainNavigation {
     position:fixed;
     top:0;
     left:0;
     width:100%;
     z-index:123;
     padding-bottom:120px;
   background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
   }
   #navbarNavDropdown.collapsing .navbar-nav,
   #navbarNavDropdown.show .navbar-nav{
     background:#037582;
     padding:12px;
   }
   .glitch-wrapper {
     width: 80%;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     background-color: #222;
     max-width: 100%;
     height: auto;
  }
  
  .glitch {
     font-family: neon;
     position: relative;
     font-size: 30px;
     font-weight: 200;
     line-height: 1.2;
     color: #fff;
     letter-spacing: 5px;
     z-index: 1;
  }
  
  .glitch:before {
     content: attr(data-glitch);
     position: absolute;
     top: 0;
     left: -2px;
     width: 100%;
     color: #fff;
     background-color: #222;
     overflow: hidden;
     clip: rect(0, 900px, 0, 0);
     animation: noise-before 3s infinite linear alternate-reverse;
  }
  
  .glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: rgba(33, 33, 33, 0);
 }
 
 .glitch {
   filter: drop-shadow(8px 6px 4px rgb(31, 31, 31));
   position: relative;
   font-size: 80px;
   font-weight: 700;
   line-height: 1.2;
   color: #fff;
   letter-spacing: 5px;
   z-index: 1;
 }
 
 .glitch:before {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: -2px;
   width: 100%;
   color: #fff;
   background-color: rgba(33, 33, 33, 0);
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
 }
 
 .glitch:after {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 2px;
   width: 100%;
   color: #fff;
   background-color: rgba(33, 33, 33, 0);
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
 }
 
 @keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }
 
   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }
 
   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }
 
   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }
 
   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }
 
   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }
 
   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }
 
   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }
 
   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }
 
   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }
 
   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }
 
   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }
 
   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }
 
   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }
 
   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }
 
   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }
 
   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }
 
   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }
 
   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }
 
   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }
 
   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
 }
 
 @keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }
 
   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }
 
   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }
 
   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }
 
   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }
 
   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }
 
   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }
 
   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }
 
   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }
 
   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }
 
   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }
 
   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }
 
   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }
 
   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }
 
   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }
 
   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }
 
   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }
 
   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }
 
   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }
 
   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }
 
   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
 }
 
 #nav{
   height: 160px;
 }
 
 #img{
   width: 100px;
 }

 #profile-image {
  transition: all 0.5s; /* Add a smooth transition effect for visibility */
}

@media (max-width: 768px) {
  /* Media query for screens with a maximum width of 768px (typical mobile phone size) */

  #profile-image {
      display: none; /* Hide the image on smaller screens */
  }

  /* Additional styling for small screens, if needed */
}
 
 #about{
   height: 800px;
 }
 
 span{
   color: rgb(255, 255, 255);
 }
 
 #service{
    height: 800px;
 }
 
 .carousel{
    width: 300px;
    border: solid white;
    border-radius: 10px 10px 10px 10px;
 }
 
 .bn31 {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-size: 20px;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 6em;
    z-index: 2;
  }
  
  .bn31:hover {
    color: #fff;
    cursor:pointer;
  }
  
  .bn31 .bn31span {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .bn31:hover .bn31span {
    background: transparent;
  }
 
  #title{
    border-radius: 10px 10px 10px 10px;
    border: solid black;
  }

  p{
   font-family: Mont;
  }

  h1{
   font-family: MontH;
  }
 
  .blob{
    animation: blob 9s ease-in-out infinite;
  }
 
  @keyframes blob{
    0%, 100% {
       border-radius:24% 76% 35% 65% / 27% 36% 64% 73%
     }
     25% {
       border-radius:82% 24% 33% 67% / 20% 55% 45% 42%
     }
 
     50% {
       border-radius:20% 54% 12% 98% / 70% 15% 23% 42%
     }
 
     75% {
       border-radius:10% 24% 42% 28% / 79% 45% 63% 22%
     }
  }
 
  svg {
    width: 114px;
    height: 114px;
    margin: 1em;
  }
  
  .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1A2C34;
  }
  
  [class^="meter-"] {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(275deg);
    transform-origin: 50% 50%;
    
  }
  
  .meter-1 {
    stroke-dasharray: 360;
    stroke-dashoffset: 0;
    stroke: rgb(255, 72, 0);
    animation: progress-1 2s ease-out;
  }
  .meter-2 {
    stroke: rgb(0, 195, 255);
    stroke-dasharray: 360;
    stroke-dashoffset: 50;
    animation: progress-2 1.75s ease-out;
  }
  .meter-3 {
    stroke: magenta;
    stroke-dasharray: 360;
    stroke-dashoffset: 100;
    animation: progress-3 1.5s ease-out;
  }
  .meter-4 {
    stroke: yellow;
    stroke-dasharray: 360;
    stroke-dashoffset: 175;
    animation: progress-4 1.25s ease-out;
  }
  
  @keyframes progress-1 {
      from {
          stroke-dashoffset: 360;
      }
      to {
          stroke-dashoffset: 0;
      }
  }
  
  @keyframes progress-2 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 50;
    }
  }
  
  @keyframes progress-3 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 100;
    }
  }
 
  @keyframes progress-4 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 175;
    }
  }
 
  #skills{
    height: 800px;
  }
 
  
  .btn-box{
   display: inline-block;
   padding: 12px 28px;
   background: #0ef;
   border-radius: 40px;
   font-size: 16px;
   color: #081b29;
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
   opacity: 0;
   animation: slideTop 1s ease forwards;
   animation-delay: 2s;
   box-shadow: 0 0 5px #0ef, 0 0 25px #0ef
}
.btn-box:hover{
   box-shadow: 0 0 5px cyan,
   0 0 25px cyan, 0 0 50px cyan
}

.dark-mode .btn-box{
   display: inline-block;
   padding: 12px 28px;
   background: rgb(255, 14, 14);
   border-radius: 40px;
   font-size: 16px;
   color: #f0f0f0;
   letter-spacing: 1px;
   text-decoration: none;
   font-weight: 600;
   opacity: 0;
   animation: slideTop 1s ease forwards;
   animation-delay: 2s;
   box-shadow: 0 0 5px rgb(255, 14, 14), 0 0 25px rgb(255, 58, 58);
}
.dark-mode .btn-box:hover{
   box-shadow: 0 0 5px rgb(255, 0, 0),
   0 0 25px rgb(255, 0, 0), 0 0 50px rgb(255, 0, 0);
}

@keyframes slideRight{
   0%{
       transform: translateX(-100px);
       opacity: 0;
   }
   100%{
       transform: translateX(0px);
       opacity: 1;
   }
   
}
@keyframes slideLeft{
   0%{
       transform: translateX(100px);
       opacity: 0;
   }
   100%{
       transform: translateX(0px);
       opacity: 1;
   }
   
}
@keyframes slideTop{
   0%{
       transform: translateY(100px);
       opacity: 0;
   }
   100%{
       transform: translateY(0px);
       opacity: 1;
   }
   
}
@keyframes slideBottom{
   0%{
       transform: translateY(-100px);
       opacity: 0;
   }
   100%{
       transform: translateY(0px);
       opacity: 1;
   }
}

/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
   font-size: 17px;
   position: relative;
   display: inline-block;
   width: 3.5em;
   height: 2em;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* The slider */
 .slider {
   --background: #28096b;
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--background);
   transition: .5s;
   border-radius: 30px;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 1.4em;
   width: 1.4em;
   border-radius: 50%;
   left: 10%;
   bottom: 15%;
   box-shadow: inset 8px -4px 0px 0px #fff000;
   background: var(--background);
   transition: .5s;
 }
 
 input:checked + .slider {
   background-color: lightskyblue;
 }
 
 input:checked + .slider:before {
   transform: translateX(100%);
   box-shadow: inset 15px -4px 0px 15px #fff000;
 }

 #contact{
   height: 800px;
   width: 100%;
 }

 .orange {
   color: #ff7a01;
 }

 div .form-container{
   position: absolute;
   top: 3300px;
   left: 275px;
 }
 
 .form-container {
   max-width: 700px;
   margin-left: 50px;
   background-color: #001925;
   padding: 30px;
   border-left: 5px solid rgb(1, 132, 255);
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
 }
 
 .heading {
   display: block;
   color: white;
   font-size: 1.5rem;
   font-weight: 800;
   margin-bottom: 20px;
 }
 
 .form-container .form .input {
   color: #87a4b6;
   width: 100%;
   background-color: #002733;
   border: none;
   outline: none;
   padding: 10px;
   margin-bottom: 20px;
   font-weight: bold;
   transition: all 0.2s ease-in-out;
   border-left: 1px solid transparent;
 }
 
 .form-container .form .input:focus {
   border-left: 5px solid rgb(1, 132, 255);
 }
 
 .form-container .form .textarea {
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   background-color: #013747;
   color: rgb(1, 132, 255);
   font-weight: bold;
   resize: none;
   max-height: 150px;
   margin-bottom: 20px;
   border-left: 1px solid transparent;
   transition: all 0.2s ease-in-out;
 }
 
 .form-container .form .textarea:focus {
   border-left: 5px solid rgb(1, 132, 255);
 }
 
 .form-container .form .button-container {
   display: flex;
   gap: 10px;
 }
 
 .form-container .form .button-container .send-button {
   flex-basis: 70%;
   background: rgb(1, 132, 255);
   padding: 10px;
   color: #001925;
   text-align: center;
   font-weight: bold;
   border: 1px solid transparent;
   transition: all 0.2s ease-in-out;
 }
 
 .form-container .form .button-container .send-button:hover {
   background: transparent;
   border: 1px solid rgb(1, 132, 255);
   color:rgb(1, 132, 255);
 }
 
 .form-container .form .button-container .reset-button-container {
   filter: drop-shadow(1px 1px 0px rgb(1, 132, 255));
   flex-basis: 30%;
 }
 
 .form-container .form .button-container .reset-button-container .reset-button {
   position: relative;
   text-align: center;
   padding: 10px;
   color: rgb(1, 132, 255);
   font-weight: bold;
   background: #001925;
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
   transition: all 0.2s ease-in-out;
 }
 
 .form-container .form .button-container .reset-button-container .reset-button:hover {
   background: rgb(1, 132, 255);
   color: #001925;
 }

 .dark-mode .form-container {
   max-width: 700px;
   margin-left: 50px;
   background-color: #001925;
   padding: 30px;
   border-left: 5px solid rgb(143, 0, 0);
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
 }

 .dark-mode .heading {
   display: block;
   color: white;
   font-size: 1.5rem;
   font-weight: 800;
   margin-bottom: 20px;
 }

 .dark-mode .form-container .form .input:focus {
   border-left: 5px solid rgb(143, 0, 0);
 }

 .dark-mode .form-container .form .textarea {
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   background-color: #013747;
   color: rgb(143, 0, 0);
   font-weight: bold;
   resize: none;
   max-height: 150px;
   margin-bottom: 20px;
   border-left: 1px solid transparent;
   transition: all 0.2s ease-in-out;
 }
 
 .dark-mode .form-container .form .textarea:focus {
   border-left: 5px solid rgb(143, 0, 0);
 }
 
 .dark-mode .form-container .form .button-container .send-button {
   flex-basis: 70%;
   background:rgb(143, 0, 0);
   padding: 10px;
   color: white;
   text-align: center;
   font-weight: bold;
   border: 1px solid transparent;
   transition: all 0.2s ease-in-out;
 }
 
 .dark-mode .form-container .form .button-container .send-button:hover {
   background: transparent;
   border: 1px solid rgb(143, 0, 0);
   color:rgb(143, 0, 0);
 }
 
 .dark-mode .form-container .form .button-container .reset-button-container {
   filter: drop-shadow(1px 1px 0px rgb(143, 0, 0));
   flex-basis: 30%;
 }
 
 .dark-mode .form-container .form .button-container .reset-button-container .reset-button {
   position: relative;
   text-align: center;
   padding: 10px;
   color: rgb(143, 0, 0);
   font-weight: bold;
   background: #001925;
   clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
   transition: all 0.2s ease-in-out;
 }
 
 .dark-mode .form-container .form .button-container .reset-button-container .reset-button:hover {
   background: rgb(143, 0, 0);
   color: white;
 }

 .dark-mode .glitch{
   filter: drop-shadow(8px 6px 4px rgb(0, 0, 0));
 }

 .dark-mode #skills{
   filter: drop-shadow(10px 8px 6px rgb(0, 0, 0));
 }

 .dark-mode   .bn31 .bn31span {
   align-items: center;
   background: #bebebe;
   border-radius: 40px;
   display: flex;
   justify-content: center;
   height: 100%;
   transition: background 0.5s ease;
   width: 100%;
 }

 img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2rem; /* This will be relative to the base font size */
}

p {
  font-size: 1rem; /* Adjust the font size accordingly */
}

@media (max-width: 768px) {
  /* Adjust your styles for smaller screens here */
  #mainNavigation {
    padding-bottom: 0;
  }
  .nav-item {
    min-width: auto;
  }
  /* Add more adjustments as needed */
}


.glitch {
  max-width: 100%;
  height: auto;
}
